@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create User";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="tabContent">
                        <h2>@Localizer["InfoAboutUser"]</h2>
                        <form action="" method="post">
                            <label for="">
                                @Localizer["Login"]
                                <input type="text" name="login" required>
                            </label>
                            <label for="">
                                @Localizer["Password"]
                                <input type="password" name="password" required>
                            </label>
                            <input type="hidden" value="" name="date"/>
                            <input class="btn1" type="submit" value="@Localizer["Create"]" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const dateInput = document.querySelector("[name='date']");

    $("input[type=submit]").on('click', function () {

        dateInput.value = GetDateTimeInFormat(new Date());
    })
</script>