<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810173985104-1mvem4ouad6b25qve5a4v8v7bm4favu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810173985104-1mvem4ouad6b25qve5a4v8v7bm4favu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCso8cPvDd8rZPIji-BXMSLOUn1or6AgsY</string>
	<key>GCM_SENDER_ID</key>
	<string>810173985104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>etc.truckonnow</string>
	<key>PROJECT_ID</key>
	<string>truckonnow-f90c8</string>
	<key>STORAGE_BUCKET</key>
	<string>truckonnow-f90c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810173985104:ios:2f70a833d6ed5b5a62fc55</string>
</dict>
</plist>