@using Microsoft.AspNetCore.Mvc.Localization;
@using WebDispacher.Constants;
@using WebDispacher.ViewModels.History;


<div class="modal fade" id="historyChanges" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <content class="ng-modal-wrapper">
        <div class="modal-dialog change-history modal-lg" role="document">
        </div>
    </content>
</div>


<style>

</style>