@model WebDispacher.ViewModels.Contact.ContactViewModel
<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="tabContent">
                        <h2>Info About the Conatact</h2>
                        <form action="" method="post">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <label for="">
                                Contact Name
                                <input type="text" name="Name" required>
                                @Html.ValidationMessageFor(model => model.Name,"", new { @class = "text-danger"})
                            </label>
                            <label for="">
                                Email address
                                <input type="email" name="Email" required>
                            </label>
                            <label for="">
                                Phone number
                                <input type="text" name="Phone" placeholder="XXXXXXXXXX" pattern="[0-9]{4,12}" required>
                            </label>
                            <input class="btn1" type="submit" value="Save"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>