@using Microsoft.AspNetCore.Mvc.Localization;
@using WebDispacher.ViewModels.Marketplace;
@{
    ViewData["Title"] = "Buy | Marketplace";
}
@inject IViewLocalizer Localizer

@model BuyItemMarketPostShortVmList

<link rel="stylesheet" href="~/css/Marketplace/Marketplace.css">

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12"
                    style="
                       margin-top: 50px;">
                    <div class="nav-forum-marketplace">
                        <div class="nav-forum-item">
                            <a href="/Marketplace/">
                                Marketplace
                            </a>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                        <div class="nav-forum-item">
                            <a href="/Marketplace/Classifieds">
                                Classifieds
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"
                    style="display:flex;
                    justify-content: space-between;
                    margin-top: 20px;">
                    <div class="title">
                        <h1>@Localizer["Buy"]</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("CreateBuyLot", "Marketplace")';">@Localizer["AddBuyItem"]</button>
                    </div>
                    <div class="search-panel">
                        <input style="width: 360px;margin-top:0;height:46px;" class="type-button" placeholder="Search by name.." />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tabContent">
                        @for (var i = 0; i < Model.Items.Count; i++)
                        {
                            @await Html.PartialAsync("~/Views/PartView/Marketplace/ForumItem.cshtml", Model.Items[i]);
                        }
                            <pagination-list actual-pages="functions.GetPages(ViewBag.SelectedPage, Model.CountPage)" selected-page="ViewBag.SelectedPage" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>