@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Reset Password";
}

<div class="text">
    <div class="container">
        <div class="row">
            <div class="col-md-10 pt-5" style="text-align:center;">
                <h2 class="pb-2">@Localizer["MessageFirstPart"]</h2>
                <h3 class="pb-3">@Localizer["MessageSecondPart"]</h3>
                <div class="d-flex justify-content-center">
                    <button onclick="window.location.href='@ViewBag.BaseUrl/carrier-login'" class="btn1">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    header {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #c4c9d5;
    }

    .pass-position {
        right: 16% !important;
        top: 33.5% !important;
    }

    .form.form-login .white .password-control {
        top: 57%;
        right: 6.5%;
    }
</style>