@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<header class="line">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
                <div class="logo">
                    <img src="~/img/logo.svg" alt="" onclick="document.location.href='http://truckonnow.com/'">
                </div>
            </div>
            <div class="col-md-auto">
                <ul class="menu top-nav_menu">
                    <li><a href="/Company/Companies" id="Company">@Localizer["Organization"]</a></li>

                    <li>
                        <a href="/Company/Questions/New" id="Questions" class="position-relative">
                            @Localizer["MailControl"]
                            <span id="newMessagesBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="height:auto"></span>
                        </a>
                    </li>
                        
                    <li><a id="Marketplace" href="/Marketplace">@Localizer["Marketplace"]</a></li>
                    <li><a href="/Exsit">@Localizer["Exit"]</a></li>
                </ul>
                <div class="burger">
                    <button class="top-nav_btn hamburger hamburger--3dy">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const NavItems = ['Questions', 'Company', 'Marketplace']
    $(document).ready(function () {
        var str = location.pathname
        for (let i = 0; i < NavItems.length; i++) {
            if (str.indexOf(NavItems[i]) >= 0) {
                $('#' + NavItems[i]).addClass('active');
                break;
            }
        }

    });

    $(document).ready(function () {
        function getNewMessagesCount() {
            $.ajax({
                url: '/Company/GetCountNewMessages',
                method: 'GET',
                success: function (data) {
                    updateNewMessagesBadge(data);
                },
                error: function (error) {
                    console.error('Failed to retrieve new messages count', error);
                }
            });
        }

        function updateNewMessagesBadge(count) {
            var badge = $('#newMessagesBadge');
            var formattedCount = count > 99 ? '99+' : count;

            badge.text(formattedCount);

            if (count > 0) {
                badge.show();
            } else {
                badge.hide();
            }
        }

        getNewMessagesCount();
        setInterval(getNewMessagesCount, 200000);
    });
</script>