@model WebDispacher.ViewModels.Dispatcher.DispatcherViewModel

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <div class="title">
                            <a href="#" onclick="history.back();">Back to Dispatcher</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">Edit Dispatcher</h1>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input hidden name="Id" value="@Model.Id" class="inpText validation" type="text" required/>
                            <label for="">
                                Type Dispatcher
                                <select class="height-input input-select" name="Type" required>
                                    <option value="">Choose a dispatcher type</option>
                                    <option value="Central Dispatch">Central Dispatch</option>
                                </select>
                            </label>
                            <label for="">
                                Login Dispatch
                                <input type="text" name="Login" value="@Model.Login">
                            </label>
                            <label for="">
                                Password Dispatch
                                <input type="text" name="Password" value="@Model.Password">
                            </label>

                            <input type="submit" value="Save Info" class="btn1"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>