<body>
<div class="admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabContent">
                    <div class="title">
                        <a href="#" onclick="history.back();">Back to Drivers</a>
                    </div>
                    <div class="title">
                        <h1 class="text-info-header-1">Info About the Driver</h1>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <label class="big-label" for="">
                            Full name
                            <input class="height-input" type="text" name="FullName" required>
                        </label>
                        <label class="big-label" for="">
                            Email address
                            <input class="height-input" type="email" name="EmailAddress" required>
                        </label>
                        <label class="big-label" for="">
                            Password
                            <input class="height-input" type="text" name="Password" required>
                        </label>
                        <label class="big-label" for="">
                            Phone number
                            <input class="height-input" type="text" name="PhoneNumber" pattern="[0-9]{4,12}" required>
                        </label>
                        <label class="big-label" for="">
                            Trailer capacity
                            <input class="height-input" type="text" name="TrailerCapacity">
                        </label>
                        <label class="big-label" for="">
                            Driver's license number
                            <input class="height-input" type="text" name="DriversLicenseNumber" required>
                        </label>
                        <div class="full-label">
                            <a class="a-label">Document DL</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi1`, 'fl1');" class="fi" id="fl1"></div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi1" type="file" onchange="GetFileName(this.value, 'fl1');" name="dLDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document medical card</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi2`, 'fl2');" class="fi" id="fl2"></div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi2" type="file" onchange="GetFileName(this.value, 'fl2');" name="medicalCardDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document SSN</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi3`, 'fl3');" class="fi" id="fl3"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi3" type="file" onchange="GetFileName(this.value, 'fl3');" name="sSNDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document proof of work authorization or GC</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi4`, 'fl4');" class="fi" id="fl4"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi4" type="file" onchange="GetFileName(this.value, 'fl4');" name="proofOfWorkAuthorizationOrGCDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document DQL (driver qualification file)</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi5`, 'fl5');" class="fi" id="fl5"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi5" type="file" onchange="GetFileName(this.value, 'fl5');" name="dQLDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document contract (company and driver)</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi6`, 'fl6');" class="fi" id="fl6"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi6" onchange="GetFileName(this.value, 'fl6');" type="file" name="contractDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <div class="full-label">
                            <a class="a-label">Document Drug test results (optional for 26000+)</a>
                            <div class="d-flex align-items-center">
                                <div class="file-group big-label">
                                    <div class="row">
                                        <div class="col-md-8 label-input d-flex align-items-center">
                                            <div onclick="ClearFile(`fi7`, 'fl7');" class="fi" id="fl7"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-button-1 d-flex justify-content-end">
                                                <label>
                                                    Select document
                                                    <input class="height-input" id="fi7" onchange="GetFileName(this.value, 'fl7');" type="file" name="drugTestResultsDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="pl-2">You can upload files only in pdf, jpg and jpeg</a>
                            </div>
                        </div>
                        <input type="submit" value="Save Info" class="height-input btn1 big-label big-font-size"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
$("#fi1").change(function() {
    CheckValid('fl1','fi1');
});
 
$("#fi2").change(function() {
    CheckValid('fl2','fi2');
});

$("#fi3").change(function() {
    CheckValid('fl3','fi3');
});

$("#fi4").change(function() {
    CheckValid('fl4','fi4');
});

$("#fi5").change(function() {
    CheckValid('fl5','fi5');
});

$("#fi6").change(function() {
    CheckValid('fl6','fi6');
});

$("#fi7").change(function() {
    CheckValid('fl7','fi7');
});

 $("input[type=submit]").on('click', function (){
     CheckValid('fl1','fi1');
     CheckValid('fl2','fi2');
     CheckValid('fl3','fi3');
     CheckValid('fl4','fi4');
     CheckValid('fl5','fi5');
     CheckValid('fl6','fi6');
     CheckValid('fl7','fi7');
 })
</script>