@media screen and (max-width:1900px){
    .bl-9 .features-item img {
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width: 1199px) {
    .bl-9 .features-item img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 767px) {
    .bl-9 .features-item img {
        margin: 31px auto 8px;
        width: 100px;
        height: 100px;
    }
}

.bl-9 .features-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}